#main-container {
    background-color: #fffded;
}


.col-lg-12 {
    display: flex;
    justify-content: center;
}


#h-element-header {
    color:#0C594D;
    font-size: 45px;
}

#h-element-container {
  width: 50%;
}

#h-element {
    color: #6c8a50;
}
/* @media screen and (max-width: 816px) {
  #h-element {
      font-size: 14px;
  }
} */
@media screen and (max-width: 635px) {
  #h-element-container {
    width: 100%;
  }
}


.form-control {
    background-color: #fffded;
}

.form-select {
    background-color: #fffded;
}

#description-form {
    padding-bottom: 100px;  
}

.btn {
    display: flex;
    margin: 0px 25% 0px 25%;
    background-color: rgb(17, 62, 17);
}

.btn:hover {
    background-color: rgb(167, 97, 108);
    border-color: rgb(167, 97, 108);
}

.btn:active {
    background-color: rgb(17, 62, 17);;
}

#field-width {
    width: 60%;
    height: 35px;
    background-color: #fffded;
    border: solid 1px;
}

.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-1 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-1:disabled {
  cursor: default;
}
.btn-1:-moz-focusring {
  outline: auto;
}
.btn-1 svg {
  display: block;
  vertical-align: middle;
}
.btn-1 [hidden] {
  display: none;
}
.btn-1 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
}
.btn-1:hover {
  color: #999;
}
