#main-home-page {
    background-color: #FEFDED;
}


#main-img {
    color: white;
    font-size: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 150vh;
    min-height: 75vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.23)), to(rgba(0, 0, 0, 0.23))), url(../../assets/main-menu/home-background.jpg);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23)), url(../../assets/main-menu/home-background.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
}


#info-id {
    color: #53594D;
    font-size: 22px;
    font-weight: normal;
}


#left-first {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    background-color: #93bdb2;
    background-position: center;
    background-size: 100% 100%;
    background-clip: padding-box;
    background-repeat: no-repeat;
    color: white;
    font-size: 70px;
    font-weight: bold;
    max-height: 75vh;
    min-height: 50vh;
}

#right-img-first {
    background-color: #D9E5DB;
    max-height: 75vh;
    min-height: 30vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#link-as-button {
    border: solid;
    border-color: #0C594D;
    background-color: #0C594D;
    color: white;
    padding: 8px 50px 8px 50px;
    text-decoration: none;
}

#link-as-button:hover {
    background-color: #FB8875;
    border-color: #FB8875;
}


#body-section {
    color: #0C594D;
    font-weight: normal;
    font-size: 20px;
}


#menu-as-link {
    text-decoration: underline;
    color: white;
}

#menu-as-link:hover {
    color: #FB8875;
}