#logout-btn {
    color: #0C594D;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#logout-btn:hover {
    color: #FB8875;
    transition: 150ms;
}
#logout-btn:active {
    color: #FB8875;
}

.navbar-brand {
    color: #95BDB2;
}

.navbar-brand:hover {
    color: #95BDB2;
}

@media screen and (max-width: 575px){
    #dropdown-nav-break{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}



@media screen and (max-width: 575px){
    #parent-container{
        background-color: #D9E5DB;
    }
}